.hidden {
    display: none;
}

#btn {
    background-color: white;
    border-color: grey;
    border-width: 2px;
    border-radius: 0.2em;

    font-size: 25px;
    font-family: 'Trebuchet MS';

    height: 45px;
    width: 225px;
}

#btn:hover {
    background-color: rgb(201, 201, 201);
}

#hello {
    font-size: 50px;
    font-family: 'Trebuchet MS';
}